body {
    --h1-font: "Gloria Hallelujah";
    --h2-font: "Gloria Hallelujah";
    --h3-font: "Gloria Hallelujah";
    --h4-font: "Gloria Hallelujah";
    --h5-font: "Gloria Hallelujah";
    --h6-font: "Gloria Hallelujah";
}

/* h1,
h2,
h3,
h4,
h5,
h6 {

} */
